# Python
__pycache__/
*.pyc
.venv/
.env

# IDE / SO
.vscode/
.idea/
.DS_Store

# ROS / builds
build/
install/
log/

# Experiências e treino
runs/
checkpoints/
outputs/
tmp/
*.tfevents*

# Dados grandes e modelos
*.bag
*.raw
*.npz
*.zip
*.tar
*.tar.gz
*.7z
*.pt
*.pth
*.onnx
